**/*.xdv
**/*.aux
**/*.run.xml
**/*.bbl
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.lof
**/*.log
**/*.lot
**/*.toc
**/*.synctex.gz
**/.~lock*
**/*.out
**/*.o
**/*.tflite
**/.ipynb_checkpoints/
**/.vscode/
**/.idea/
