**/*.xdv
**/*.aux
**/*.run.xml
**/*.bbl
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.lof
**/*.log
**/*.lot
**/*.toc
**/*.synctex.gz
**/.~lock*
**/*.out
**/*.o
**/*.tflite
thermal_raw_20210507_full.zip
thermal_img_250_20211018.zip
thermal_raw_20210507_full/
thermal_img_250_20211018/
